body {
   margin: 0px;
   padding: 0px; 
   line-height: 12pt;
}

#canvas {
    border: 1px solid #888;
}

#controls {
    height: 290px;
}

#controls table th{
    text-align: center;
    height: 40px;
}

#controls table td:first-child{
    text-align: right;
    padding: 0px 5px;
}

#controls table td {
    padding: 1px;
    text-align: center;
    margin: 0px;
    border: 0;
}

p {
    padding: 5px;
}
